.button:hover {
    width: 420px;
    height: 160px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.button {
    width: 370px;
    height: 130px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.6s;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.57);
}
